/* CSS for All Pages */
*{
    font-family: Arial, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;  
    padding: 20px;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}
header{
    position: relative;
    margin: 0;
    padding: 0;
    border-bottom: 3px solid black;
    background-color: #4E5D6C;
    font-size: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header > a{
    padding: 3vh;
    border-right: 3px solid black;
    display: inline-block;
}
header > h1{
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3vh;
    color: #EFEFEF;
    transition: color 0.5s ease-in-out;
    animation: fade-in 1s ease-in-out forwards;
}
a > h3{
    padding-top: 10px;
    font-size: 1rem;
}
header h1:hover {
    color: #FFB6C1;
}
@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
main{
    padding-bottom: 50px;
    text-align: center;
}
footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #4E5D6C;
    color: #EFEFEF;
}

/* CSS for Home Page */
#home-page{
    padding: 20px;
    text-align: center;
}
#home-page ol{
    margin: 10px 2em 10px 0;
    list-style-position: inside;
}
nav{
    margin: 20px;
    text-align: center;
    background-color: #4E5D6C;
}
nav a{
    border: 3px solid black;
    width: 150px;
    height: 150px;
    margin: 10px 20px 10px 0;
    display: inline-block;
    color: #FFB6C1;
    transition: color 0.5s ease-in-out;
}
nav a:hover {
    color: #fa7286;
}
nav img{
    padding-top: 2rem;
    width: 50px;
    height: 50px;
}
nav h3{
    margin-top: 0;
}

/* CSS for About Me */
#about-me-pic{
    padding: 20px;
}
#about-me-text{
    margin-left: 20px;
    margin-right: 20px;
    list-style-position: inside;
}
#about-me-text ul{
    padding-right: 20px;
}
video{
    padding: 10px;
}
@media screen and (max-width: 768px) {
    video {
      width: 75%;
    }
}
audio{
    padding: 10px;
}


/* CSS for Projects */
#projects{
    font-size: 20px;
    list-style-type: none;
}
pre{
    overflow-x: auto;
    white-space: pre-wrap;
}
#projects ul{
    margin: 0;
    padding: 0; 
}
#projects li{
    margin-bottom: 10px;
    padding: 10px;
    background-color: #dfdfdf;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(179, 159, 159, 0.1);
}

/* CSS for Experience */
caption{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
}
table {
    font-size: 15px;
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #ccc;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}
details{
    font-size: 20px;
}

/* CSS for Resume */
#resume{
    padding-bottom: 60px;
}
iframe {
    width: 99%;
    height: 150vh;
}

/* CSS for Contact */
#contact{
    text-align: left;
}
canvas{
    margin: 20px;
}
@media screen and (min-width: 768px) {
    canvas {
        width: 15%;
    }
}
form {
    max-width: 300px;
    margin-left: 20px;
    margin-bottom: 100px;
}
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}
legend {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}
label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
input, select, textarea {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}
textarea{
    resize: vertical;
}
form button {
    background-color: #FFB6C1;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 20px;
} 
form button:hover {
    background-color: #fd9dab;
}
  